.container-layout {
  padding-top: 20px;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.search-input {
  width: 334px;
  height: 48px;
  padding: 12px 24px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #111111;
  color: #ccc;
}

.external-button {
  width: 48px;
  height: 48px;
  background: linear-gradient(130deg, #ffc226 30%, #f84119 100%);
  color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.card {
  background-color: #ffffff;
}

.card-content {
  border: none;
  border-radius: 5px;
}
/* Для экранов >= 1280px */
@media (min-width: 1280px) {
  .pagination-cycle-btn {
    width: 40px;
    height: 40px;
    padding: 5px 10px;
  }
  .card {
    width: calc(33.33% - 10px);
    min-width: 395px;
    min-height: 574px;
    margin-bottom: 20px;
  }
}

/* Для экранов >= 768px и < 1280px */
@media (min-width: 768px) and (max-width: 1279px) {
  .pagination-cycle-btn {
    width: 40px;
    height: 40px;
    padding: 5px 10px;
  }
  .search-input {
    width: 264px;
    height: 44px;
  }
  .external-button {
    width: 44px;
    height: 44px;
  }
  .card {
    width: calc(33.33% - 10px);
    max-width: 224px;
    height: 325px;
    margin-bottom: 20px;
  }
}

/* Для экранов < 768px */
@media (max-width: 767px) {
  .pagination-cycle-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    font-size: 12px;
    padding: 7px 6px;
  }

  .pagination-btn {
    font-size: 10px;
    padding: 8px 10px;
  }

  .pagination-arrow-btn {
    font-size: 20px;
    padding: 5px 10px;
  }
  .search-input {
    width: 224px;
    height: 44px;
  }
  .external-button {
    width: 40px;
    height: 40px;
  }
  .results {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 280px;
    height: 406px;
    margin: 0 0 20px;
  }
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.pagination-cycle-btn {
  border: none;
  background-color: #111111;
  cursor: pointer;
  border: 1px solid #ccc;
  color: #ccc;
  border-radius: 50%;
  margin: 0 8px; /* Уменьшили маргин до 8px */
}

.pagination-num-btn {
  display: flex;
  align-items: center;
}

.pagination-cycle-btn:first-child,
.pagination-cycle-btn:last-child {
  margin: 0 12px; /* Добавили маргин для крайних кнопок */
}

.pagination-cycle-btn:hover {
  background-color: linear-gradient(130deg, #ffc226 30%, #f84119 100%);
}

.pagination-btn {
  background-color: #111111;
  color: #ccc;
  border: none;
}

.pagination-arrow-btn {
  background-color: #111111;
  color: #ccc;
  border: none;
}
/* 
.result {
  width: 395px;
  height: 574px;
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
}
.result img {
  width: 100%;
  height: auto;
  max-height: 80%;
  object-fit: cover;
  margin-bottom: 10px;
}
.result-title {
  font-size: 24px;
  margin-bottom: 5px;
}
.result-genres {
  margin-bottom: 10px;
}
.result-rating {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 18px;
  color: #007bff;
} */
