#genre-search {
    margin: 60px 0 36px;
    padding: 12px 20px;
    background-color: var(--black);
    color: var(--light-gray);
    border-radius: 8px;
    border: 1px solid var(--white);
    font-size: 14px;
}
body.ligth-mode #genre-search {
    background-color: var(--white-smoke);
    color: var(--second-black);
}

.mylib-options {
    padding-block: 14px;
    color: var(--white-smoke);
}
body.ligth-mode .mylib-options {
    color: var(--light-gray);
}
.library-list{
    width: 280px;
    margin: 0 auto;
    border-radius: 5px;
    flex-basis: 100%;
    position: relative;
}  
.load-more{
    cursor: pointer;
    color: #000;
    background: linear-gradient(141.22deg,#ffc226 9.4%,#f84119 91.91%);
    border: 1px solid #0000;
    border-radius: 74px;
    min-width: 140px;
    margin: 30px auto 50px;
    padding: 12px 24px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.33;
    display: block;
}

 .my-films {
    min-height: 300px;
}
@media screen and (min-width: 768px) {
    .library-list{
    display: block;
    width: 224px;
    /* flex-basis: calc(33.33% - 16px); */
    flex-basis: calc((100% - (16px * 2)) / 3);
    margin: 0;
    }

    .library-box{
    flex-wrap: wrap;
    justify-content: flex-start;
    justify-content: center;
    gap: 16px;
    row-gap: 28px;
    display: flex;
    }
    .my-films {
    min-height: 300px;
}
}  

