#genre-search {
    padding: 12px 20px;
    background-color: var(--black);
    color: var(--light-gray);
    border-radius: 8px;
    border: 1px solid var(--white);
    font-size: 14px;
}

.mylib-options {
    padding-block: 14px;
    color: var(--white-smoke);
}