<section class="container">
    <div class="container-layout">
        <div class="search-container">
            <input type="text" class="search-input" id="searchInput" placeholder="Search">
            <button type="button" class="external-button"></button>
        </div>

        <div class="results" id="results">
            <div class="card">
                <div class="card-content">
                    <img src="./image/dont_worry_darling 3.png" alt="foto" class="trends__photo" />
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <img src="./image/dont_worry_darling 3.png" alt="foto" class="trends__photo" />
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <img src="./image/dont_worry_darling 3.png" alt="foto" class="trends__photo" />
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <img src="./image/dont_worry_darling 3.png" alt="foto" class="trends__photo" />
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <img src="./image/dont_worry_darling 3.png" alt="foto" class="trends__photo" />
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <img src="./image/dont_worry_darling 3.png" alt="foto" class="trends__photo" />
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <img src="./image/dont_worry_darling 3.png" alt="foto" class="trends__photo" />
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <img src="./image/dont_worry_darling 3.png" alt="foto" class="trends__photo" />
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <img src="./image/dont_worry_darling 3.png" alt="foto" class="trends__photo" />
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <img src="./image/dont_worry_darling 3.png" alt="foto" class="trends__photo" />
                </div>
            </div>
        </div>
    </div>
    <div class="pagination">
        <button class="pagination-arrow-btn" id="nextPage">
            < </button>
                <div class="pagination-num-btn">
                    <button class="pagination-cycle-btn" id="firstPage">01</button>
                    <button class="pagination-cycle-btn" id="prevPages">02</button>
                    <button class="pagination-cycle-btn" id="firstPage">03</button>
                    <button class="pagination-btn" id="prevPage">...</button>
                    <button class="pagination-cycle-btn" id="lastPage">24</button>
                </div>
                <button class="pagination-arrow-btn" id="nextPages"> > </button>
    </div>

    </div>
</section>