<section class="container">
    <div class="container-layout">
        <div class="search-container">
            <input type="text" class="search-input" id="searchInput" placeholder="Search">
            <button type="submit" class="external-button">
                <svg class="search-svg">
                    <use href="./image/sprite.svg#search"></use>
                </svg>
            </button>
            <!-- <button class="clear-button">
                <svg class="clear-svg">
                    <use href="./image/sprite.svg#clear"></use>
                </svg>
            </button> -->
        </div>

        <div class="trending-container" id="trendingContainer">
            <!-- Trending movies will be displayed here -->
        </div>

        <div class="pagination">
            <button class="pagination-arrow-btn" id="prevPage"> &lt; </button>
            <div class="pagination-num-btn">
                <!-- Numeric page buttons will be populated dynamically -->
            </div>
            <button class="pagination-arrow-btn" id="nextPage"> &gt; </button>
        </div>
    </div>
</section>