<!-- Modal error trailer -->

<div class="backdrop-oops is-hidden" data-modal-oops>
  <div class="modal-oops">
    <button type="button" class="close-modal-oops" data-modal-oops-close>
      <svg class="close-oops">
        <use href="./image/sprite.svg#close-btn"></use>
      </svg>
    </button>
    <p class="text-modal-oops">
      OOPS... <br />
      We are very sorry! <br />
      But we couldn’t find the trailer.
    </p>

    <img class="camera" src="./image/modal-false-movie-min.png" alt="camera" />
  </div>
</div>

<!-- Info catalog  any results-->

<!-- <section class="section catalog-movies is-hidden">

</section> -->

<!-- Any films library -->

  <div class="not-found-film-library is-hidden">
    <p class="not-found-film-library-text-item">OOPS...</p>
    <p class="not-found-film-library-text-item">We are very sorry!</p>
    <p class="not-found-film-library-text-item">
      You don’t have any movies at your library.
    </p>

    <a class="not-found-film-link" href="./catalog.html"> Search movie </a>
  </div>
