<footer>
    <div class="container footer-contain">
        <p class="footer-contain__text">
            © 2023 | All Rights Reserved | Developed with
           <svg xmlns="http://www.w3.org/2000/svg" width="14" height="13" fill="none" class="footer-contain__svg">
    <use xlink:href="./image/sprite.svg#orange-heart"/>
</svg>
            by
            <a href="#" class="footer-contain__students" data-modal-open-footer
                >GoIT Students</a
            >
        </p>
    </div>
    <div
        class="footer-contain__backdrop footer-contain__is-hidden"
        data-modal-footer
    >
        <div class="footer-contain__modal">
          <svg
    width="24"
    height="24"
    viewBox="0 0 12 12"
    xmlns="http://www.w3.org/2000/svg"
    data-modal-close-footer
>
    <use xlink:href="./image/sprite.svg#close-btn"/>
</svg>
            
            <h1 class="footer-contain__modal-title">Our team:</h1>
            <p class="footer-contain__modal-text">
               We deeply appreciate your visit to our website and your engagement with our content. Our team poured immense passion and enthusiasm into creating this space. We sincerely hope that you found our efforts enjoyable and discovered a plethora of captivating films. Please continue to explore our offerings and relish in a truly memorable cinematic journey!
            </p>
            <a href="https://github.com/VolodymyrFedorov/codosaurs" target="_blank" rel="noopener noreferrer" aria-label="GitHub"
                ><span class="footer-contain__modal-github">GitHub</span></a
            >
            <h2 class="footer-contain__modal-list-title">Project makers:</h2>
            <ul class="footer-contain__modal-list">
                <li>
                    <p class="footer-contain__modal-list-role">Team Lead:</p>
                    <a
                        href="https://github.com/VolodymyrFedorov" target="_blank" rel="noopener noreferrer" aria-label="GitHub"
                        class="footer-contain__modal-list-name"
                        >Volodymyr Fedorov</a
                    >
                </li>
                <li>
                    <p class="footer-contain__modal-list-role">Scrum Master:</p>
                    <a
                        href="https://github.com/IT14KR" target="_blank" rel="noopener noreferrer" aria-label="GitHub"
                        class="footer-contain__modal-list-name"
                        >Ivan Tkachuk</a
                    >
                </li>
                <li>
                    <p class="footer-contain__modal-list-role">Developer:</p>
                    <a
                        href="https://github.com/SakhnoDima" target="_blank" rel="noopener noreferrer" aria-label="GitHub"
                        class="footer-contain__modal-list-name"
                        >Dima Sakhno</a
                    >
                </li>
                <li>
                    <p class="footer-contain__modal-list-role">Developer:</p>
                    <a
                        href="https://github.com/VitiukP" target="_blank" rel="noopener noreferrer" aria-label="GitHub"
                        class="footer-contain__modal-list-name"
                        >Pavlo Vitiuk</a
                    >
                </li>
                <li>
                    <p class="footer-contain__modal-list-role">Developer:</p>
                    <a
                        href="https://github.com/yurii2007" target="_blank" rel="noopener noreferrer" aria-label="GitHub"
                        class="footer-contain__modal-list-name"
                        >Yurii Shymanskyi</a
                    >
                </li>
                <li>
                    <p class="footer-contain__modal-list-role">Developer:</p>
                    <a
                        href="https://github.com/Horbunov-Yurii" target="_blank" rel="noopener noreferrer" aria-label="GitHub"
                        class="footer-contain__modal-list-name"
                        >Yurii Horbunov</a
                    >
                </li>
                <li>
                    <p class="footer-contain__modal-list-role">Developer:</p>
                    <a
                        href="https://github.com/hennessyvsop3"
                        class="footer-contain__modal-list-name" target="_blank" rel="noopener noreferrer" aria-label="GitHub"
                        >Dmytro Vylobkov</a
                    >
                </li>
                
            </ul>
            <button
                class="footer-contain__modal-back"
                data-modal-go-back-footer
            >
                Go back
            </button>
        </div>
    </div>
</footer>