<header class="main-header">
  <div class="page-header-container container">
    <a href="#" class="header-home-link">
      <img class="header-img" src="/src/image/header-svg.svg" alt="qqq" />
      <span class="header-home">Cinemania</span>
    </a>

    <a class="mob-menu-header-link" href="#">MENU</a>

    <div class="header-block-wrapper">
      <nav class="header-nav">
        <a class="menu-header-link" href="#">HOME</a>

        <a class="menu-header-link" href="#">CATALOG</a>

        <a class="menu-header-link" href="#">MY LIBRARY</a>
      </nav>
      <img class="header-slider" src="/src/image/icon-slider.svg" alt="qqq" />
    </div>
  </div>
</header>