<section class="modal-section">
    <div class="modal"> 
    <button type="button" data-modal-close class="modal-close-btn">
        <svg class="mobile-close-icon">
            <use href="#"></use>  
          </svg>
      </button> 
      <img class="modal-img"  src="#" alt="">
      <div class="modal-film-info">
        <h2 class="modal-film-title">John Wick: Chapter 4</h2>
        <div class="modal-film-info-box">
            <ul class="modal-film-info-items-name">
                <li class="modal-film-text">Vote / Votes</li>
                <li class="modal-film-text">Popularity</li>
                <li class="modal-film-text">Genre</li>
            </ul>
            <ul class="modal-film-info-items-values">
                <li>
                    <span class="modal-film-rating">22</span> 
                    <span class="modal-film-devider">/</span>
                    <span class="modal-film-votes">33</span>
                </li>
                <li class="modal-film-population">Popularity</li>
                <li class="modal-film-genre">Genre</li>
            </ul>

        </div></div>
   

      </div>
    </div>
</section>