<div class="backdrop js-backdrop visually-hidden">
    <div class="modal"> 
        <button type="button" class="modal-close-btn js-btn-cls">
        <svg class="modal-icon-close" width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M11.25 11.25L0.75 0.75M11.25 0.75L0.75 11.25" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
      </button> 
      <div class="modal-body js-box">
          <img class="modal-img"  src="./image/Rectangle des 24.png" alt="">
          <div class="modal-film-info">
            <h2 class="modal-film-title">John Wick: Chapter 4</h2>
            <div class="modal-film-info-box">
                <ul class="modal-film-info-items-name">
                    <li class="modal-film-text">Vote / Votes</li>
                    <li class="modal-film-text">Popularity</li>
                    <li class="modal-film-text">Genre</li>
                </ul>
                <ul class="modal-film-info-items-values">
                    <li class="modal-iten-block">
                        <span class="modal-film-rating">22</span> 
                        <span class="modal-film-devider"> / </span>
                        <span class="modal-film-votes">33</span>
                    </li>
                    <li class="modal-film-population">100.2</li>
                    <li class="modal-film-genre">Action Thriller Crime</li>
                </ul>
            </div>
            <h3  class="modal-film-info-title">About</h3>
            <p class="modal-film-text-about">John Wick (Keanu Reeves) takes on his most lethal adversaries yet in the upcoming fourth instalment of the series. With the price on his head ever increasing, John Wick uncovers a path to defeating The High Table. But before he can earn his freedom, Wick must face off against a new enemy with powerful alliances across the globe and forces that turn old friends into foes. John Wick (Keanu Reeves) takes on his most lethal adversaries yet in the upcoming fourth instalment of the series. With the price on his head ever increasing, John Wick uncovers a path to defeating The High Table. But before he can earn his freedom, Wick must face off against a new enemy with powerful alliances across the globe and forces that turn old friends into foes.</p>
        <button class="modal-btn js-btn-to-ls" >Add to my library</button>
      </div>
    </div>
    </div>
</div>

