<section class="upcoming">
    <div class="container">
        <h2 class="upcoming__title">upcoming this month</h2>
        <div class="desktop__wrapper">
        <img class="upcoming__image"
         src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/i6ArJZDy9Iqr3x6HrY4k118HoBn.jpg" alt="" 
         loading="lazy"/>
         <div class="desktop__info__wrapper">
        <div class="upcoming__info-wrapper">
            <h3 class="upcoming__film__title">the lost city</h3>
            <ul class="upcoming__list__rating">
                <li>
                <ul class="upcoming__item__rating">
                    <li>Release date</li>
                    <li>Vote &#47; Votes</li>
                    <li>Popularity</li>
                    <li>Genre</li>
                </ul>
            </li>
            <li>
                <ul class="upcoming__item__rating">
                    <li class="upcoming__item_customize">03.03.2023</li>
                    <li class="upcoming__item_customize"><span>7.3</span> &#47; <span>1260</span></li>
                    <li class="upcoming__item_customize">99.9</li>
                    <li class="upcoming__item_customize">Comedy, action</li>
                </ul>
            </li>
            </ul>

            <ul class="upcoming__list__tablet">
                <li class="upcoming__tablet__item">
                    <p class="tablet__subtitle">Release date</p>
                    <p class="tablet__info">03.03.2023</p>
                </li>
                <li class="upcoming__tablet__item">
                    <p class="tablet__subtitle">Popularity</p>
                    <p class="tablet__info upcoming__item_customize">99.9</p>
                </li>
                <li class="upcoming__tablet__item">
                    <p class="tablet__subtitle">Vote &#47; Votes</p>
                    <p class="tablet__info upcoming__item_customize"><span>7.3</span> &#47; <span>1260</span></p>
                </li>
                <li class="upcoming__tablet__item">
                    <p class="tablet__subtitle">Genre</p>
                    <p class="tablet__info upcoming__item_customize">Comedy, action</p>
                </li>
            </ul>
        </div>
        

            <div class="upcoming-about-wrapper">
                <p class="upcoming__about__title">About</p>
                <p>Reclusive author Loretta Sage writes about exotic places in her popular adventure novels that feature a handsome cover model named Alan. While on tour promoting her new book with Alan, Loretta gets kidnapped by an eccentric billionaire who hopes she can lead him to an ancient city's lost treasure from her latest story. Determined to prove he can be a hero in real life and not just on the pages of her books, Alan sets off to rescue her.</p>
            </div>
    
        <button class="upcoming__btn" type="button">Add to my library</button>
    </div>
    </div>
    </div>
</section>