<section class="trends">
  <div class="container">
    <div class="trends__titles">
      <h2 class="trends__title">WEEKLY TRENDS</h2>
      <a href="./catalog.html" class="trends__link">See all</a>
    </div>
    <ul class="trends__list">
      <!-- <li class="trends__item">
        <img
          src="./image/m-own_cinema-320-min.jpg"
          alt="foto"
          class="trends__photo"
        />
        <div class="trends__description">
          <div class="trends__info">
            <h3 class="trends__name">GHOSTED</h3>
            <p class="trends__ganre">Drama, Action | 2023</p>
          </div>
          <div class="raiting-body">
            <div class="rating-active" style="width: 80px">
              <div class="rating-active-wrapper">
                <span class="rating-active-color">★</span>
                <span class="rating-active-color">★</span>
                <span class="rating-active-color">★</span>
                <span class="rating-active-color">★</span>
                <span class="rating-active-color">★</span>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="trends__item">
        <img
          src="./image/m-own_cinema-320-min.jpg"
          alt="foto"
          class="trends__photo"
        />
        <div class="trends__description">
          <div class="trends__info">
            <h3 class="trends__name">GHOSTED</h3>
            <p class="trends__ganre">Drama, Action | 2023</p>
          </div>
          <div class="raiting-body">
            <div class="rating-active" style="width: 80px">
              <div class="rating-active-wrapper">
                <span class="rating-active-color">★</span>
                <span class="rating-active-color">★</span>
                <span class="rating-active-color">★</span>
                <span class="rating-active-color">★</span>
                <span class="rating-active-color">★</span>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="trends__item">
        <img
          src="./image/m-own_cinema-320-min.jpg"
          alt="foto"
          class="trends__photo"
        />
        <div class="trends__description">
          <div class="trends__info">
            <h3 class="trends__name">GHOSTED</h3>
            <p class="trends__ganre">Drama, Action | 2023</p>
          </div>
          <div class="raiting-body">
            <div class="rating-active" style="width: 80px">
              <div class="rating-active-wrapper">
                <span class="rating-active-color">★</span>
                <span class="rating-active-color">★</span>
                <span class="rating-active-color">★</span>
                <span class="rating-active-color">★</span>
                <span class="rating-active-color">★</span>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="trends__item">
        <img
          src="./image/m-own_cinema-320-min.jpg"
          alt="foto"
          class="trends__photo"
        />
        <div class="trends__description">
          <div class="trends__info">
            <h3 class="trends__name">GHOSTED</h3>
            <p class="trends__ganre">Drama, Action | 2023</p>
          </div>
          <div class="raiting-body">
            <div class="rating-active" style="width: 80px">
              <div class="rating-active-wrapper">
                <span class="rating-active-color">★</span>
                <span class="rating-active-color">★</span>
                <span class="rating-active-color">★</span>
                <span class="rating-active-color">★</span>
                <span class="rating-active-color">★</span>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="trends__item">
        <img
          src="./image/m-own_cinema-320-min.jpg"
          alt="foto"
          class="trends__photo"
        />
        <div class="trends__description">
          <div class="trends__info">
            <h3 class="trends__name">GHOSTED</h3>
            <p class="trends__ganre">Drama, Action | 2023</p>
          </div>
          <div class="raiting-body">
            <div class="rating-active" style="width: 80px">
              <div class="rating-active-wrapper">
                <span class="rating-active-color">★</span>
                <span class="rating-active-color">★</span>
                <span class="rating-active-color">★</span>
                <span class="rating-active-color">★</span>
                <span class="rating-active-color">★</span>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="trends__item">
        <img
          src="./image/m-own_cinema-320-min.jpg"
          alt="foto"
          class="trends__photo"
        />
        <div class="trends__description">
          <div class="trends__info">
            <h3 class="trends__name">GHOSTED</h3>
            <p class="trends__ganre">Drama, Action | 2023</p>
          </div>
          <div class="raiting-body">
            <div class="rating-active" style="width: 80px">
              <div class="rating-active-wrapper">
                <span class="rating-active-color">★</span>
                <span class="rating-active-color">★</span>
                <span class="rating-active-color">★</span>
                <span class="rating-active-color">★</span>
                <span class="rating-active-color">★</span>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="trends__item">
        <img
          src="./image/m-own_cinema-320-min.jpg"
          alt="foto"
          class="trends__photo"
        />
        <div class="trends__description">
          <div class="trends__info">
            <h3 class="trends__name">GHOSTED</h3>
            <p class="trends__ganre">Drama, Action | 2023</p>
          </div>
          <div class="raiting-body">
            <div class="rating-active" style="width: 80px">
              <div class="rating-active-wrapper">
                <span class="rating-active-color">★</span>
                <span class="rating-active-color">★</span>
                <span class="rating-active-color">★</span>
                <span class="rating-active-color">★</span>
                <span class="rating-active-color">★</span>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="trends__item">
        <img
          src="./image/m-own_cinema-320-min.jpg"
          alt="foto"
          class="trends__photo"
        />
        <div class="trends__description">
          <div class="trends__info">
            <h3 class="trends__name">GHOSTED</h3>
            <p class="trends__ganre">Drama, Action | 2023</p>
          </div>
          <div class="raiting-body">
            <div class="rating-active" style="width: 80px">
              <div class="rating-active-wrapper">
                <span class="rating-active-color">★</span>
                <span class="rating-active-color">★</span>
                <span class="rating-active-color">★</span>
                <span class="rating-active-color">★</span>
                <span class="rating-active-color">★</span>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="trends__item">
        <img
          src="./image/m-own_cinema-320-min.jpg"
          alt="foto"
          class="trends__photo"
        />
        <div class="trends__description">
          <div class="trends__info">
            <h3 class="trends__name">GHOSTED</h3>
            <p class="trends__ganre">Drama, Action | 2023</p>
          </div>
          <div class="raiting-body">
            <div class="rating-active" style="width: 80px">
              <div class="rating-active-wrapper">
                <span class="rating-active-color">★</span>
                <span class="rating-active-color">★</span>
                <span class="rating-active-color">★</span>
                <span class="rating-active-color">★</span>
                <span class="rating-active-color">★</span>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="trends__item">
        <img
          src="./image/m-own_cinema-320-min.jpg"
          alt="foto"
          class="trends__photo"
        />
        <div class="trends__description">
          <div class="trends__info">
            <h3 class="trends__name">GHOSTED</h3>
            <p class="trends__ganre">Drama, Action | 2023</p>
          </div>
          <div class="raiting-body">
            <div class="rating-active" style="width: 80px">
              <div class="rating-active-wrapper">
                <span class="rating-active-color">★</span>
                <span class="rating-active-color">★</span>
                <span class="rating-active-color">★</span>
                <span class="rating-active-color">★</span>
                <span class="rating-active-color">★</span>
              </div>
            </div>
          </div>
        </div>
      </li> -->
    </ul>
  </div>
</section>
